<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="h-screen flex flex-col items-center mt-20">
    <div class="text-4xl">Messages</div>
    <div id="msg-container" class="flex flex-col gap-4 mt-5">
      <% for(let i = 0; i < messages.length; i++) {%>
      <div id="msg-details">
        <div><%= messages[i].text %></div>
        <div><%= messages[i].user %></div>
        <div><%= messages[i].added %></div>
      </div>
      <%} %>
    </div>
  </body>
</html>
