<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Message</title>
  </head>
  <body class="flex flex-col items-center mt-20 h-screen">
    <div id="title" class="text-2xl">New Message</div>
    <form method="POST" action="/new" class="flex flex-col gap-5 mt-8">
      <div id="user-block">
        <label for="username">Name:</label>
        <input id="username" class="border border-solid border-slate-500" name="username" />
      </div>
      <div id="msg-block">
        <label for="message">Message:</label>
        <input id="message" class="border border-solid border-slate-500" name="message" />
      </div>
      <input type="submit" class="bg-black text-white py-2 px-3" />
    </form>
  </body>
</html>
